@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}

.container {
  font-family: "Roboto", sans-serif;
}
.container .navbar {
  height: 100px;
  background: #E3E3E3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.377);
}
.container .navbar div:first-of-type {
  height: 70px;
  width: 70px;
  background: url("./assets/book.png") no-repeat center;
  background-size: contain;
}
.container .navbar h1 {
  display: none;
}
.container .card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 2rem;
  gap: 1.5rem;
}
.container .card-grid .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.26);
  border-radius: 3%;
  height: 400px;
  transition: all 0.1s ease;
}
.container .card-grid .card.hidden {
  height: 200px;
}
.container .card-grid .card .card-top {
  display: flex;
  z-index: 2;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  background: #F9F9F9;
  height: 200px;
  width: 100%;
  overflow: hidden;
  transition: transform 0.1s ease;
}
.container .card-grid .card .card-top .image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}
.container .card-grid .card .card-top .text-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  line-height: 1.75rem;
}
.container .card-grid .card .card-top .text-content p {
  margin-left: 1px;
}
.container .card-grid .card .card-top .text-content .text {
  padding: 1rem;
}
.container .card-grid .card .card-top .text-content .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.container .card-grid .card .card-top .text-content .icon i {
  transition: all 0.2s ease;
}
.container .card-grid .card .card-top .text-content .icon i:hover {
  cursor: pointer;
}
.container .card-grid .card .card-top .text-content .icon i.active {
  transform: rotate(180deg);
}
.container .card-grid .card .card-bottom {
  display: flex;
  z-index: 1;
  flex-direction: column;
  justify-content: flex-end;
  height: 200px;
  width: 100%;
  border-top: 1px solid black;
  transition: all 0.2s ease;
  transform-origin: top;
}
.container .card-grid .card .card-bottom.hidden {
  height: 0px;
}
.container .card-grid .card .card-bottom .buttons {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-bottom: 1rem;
}
.container .card-grid .card .card-bottom .buttons .button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  width: 40%;
  height: 30px;
  box-shadow: 0 3px 4px 0.1px rgba(0, 0, 0, 0.158);
  transition: all 0.125s ease;
  user-select: none;
}
.container .card-grid .card .card-bottom .buttons .button:hover {
  cursor: pointer;
  box-shadow: 0 3px 5px 0.5px rgba(0, 0, 0, 0.349);
  transform: scale(1.02);
}
.container .card-grid .card .card-bottom .buttons div:first-of-type {
  background: #FFBE31;
}
.container .card-grid .card .card-bottom .buttons div:first-of-type:hover {
  background: #ffc954;
}
.container .card-grid .card .card-bottom .buttons div:last-of-type {
  background: #E36161;
}
.container .card-grid .card .card-bottom .buttons div:last-of-type:hover {
  background: #ff7979;
}
.container .button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  width: 40%;
  height: 30px;
  box-shadow: 0 3px 4px 0.1px rgba(0, 0, 0, 0.158);
  transition: all 0.125s ease;
  user-select: none;
}
.container .button:hover {
  cursor: pointer;
  box-shadow: 0 3px 5px 0.5px rgba(0, 0, 0, 0.349);
  transform: scale(1.02);
}
.container .add-button {
  z-index: 10;
  position: absolute;
  bottom: 50px;
  right: 10vw;
  background: #FFBE31;
  color: white;
  padding: 1.25rem 1rem;
  border-radius: 50%;
  box-shadow: 0px 5px 6px 1px rgba(0, 0, 0, 0.178);
  transition: all 0.3s ease;
}
.container .add-button:hover {
  cursor: pointer;
  background: #ffcc5e;
  box-shadow: 0px 5px 6px 2px rgba(0, 0, 0, 0.185);
}
.container .add-card-form-container {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.137);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .add-card-form-container.hidden {
  display: none;
}
.container .add-card-form-container .add-card-form {
  background: #F9F9F9;
  height: 70vh;
  width: clamp(300px, 60vw, 500px);
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 8px 8px 2px rgba(0, 0, 0, 0.164);
}
.container .add-card-form-container .add-card-form .forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
.container .add-card-form-container .add-card-form .forms .form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.container .add-card-form-container .add-card-form .forms .form-input div {
  align-self: flex-start;
  margin-left: 15%;
  color: #E36161;
}
.container .add-card-form-container .add-card-form .forms .form-input div.hidden {
  display: none;
}
.container .add-card-form-container .add-card-form .forms .form-input input[type=text] {
  height: 40px;
  width: 70%;
  background: #e6e6e6;
  border-radius: 0.25rem;
  padding: 0 0.25rem;
  font-size: 1rem;
}
.container .add-card-form-container .add-card-form .form-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}
.container .add-card-form-container .add-card-form .form-buttons div:first-of-type {
  background: #D0F8D4;
}
.container .add-card-form-container .add-card-form .form-buttons div:last-of-type {
  background: #E36161;
}

/*# sourceMappingURL=styles.css.map */
