//Imports
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

//Variables
$primary-color: #FFBE31;
$primary-color-light: #ffcc5e;
$confirmation-color: #D0F8D4;
$negation-color: #E36161;

$navbar-background: #E3E3E3;
$card-background: #F9F9F9;

$font-roboto: 'Roboto', sans-serif;

$card-top-height: 200px;
$card-bottom-height: 200px;

$input-background: #e6e6e6;

//Css
*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}

.container{
    font-family: $font-roboto;

    .navbar{
        height: 100px;
        background: $navbar-background;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3rem;
        box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.377);

        div:first-of-type{
            height: 70px;
            width: 70px;
            background: url("./assets/book.png") no-repeat center;
            background-size: contain;
        }
    }

    .card-grid{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        padding: 2rem;
        gap: 1.5rem;

        .card{
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow:0 5px 5px 2px rgba(0, 0, 0, 0.26);
            border-radius: 3%;
            height: $card-bottom-height + $card-top-height;
            transition: all .1s ease;

            &.hidden{
                height: $card-top-height;
            }

            .card-top{
                display: flex;
                z-index: 2;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-end;
                background: $card-background;
                height: $card-top-height;
                width: 100%;
                overflow: hidden;
                transition: transform .1s ease;
    
                .image{
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    width: 100%;
                    height: 100%;
                    border-top-left-radius: 3%;
                    border-top-right-radius: 3%;
                }
    
                .text-content{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    line-height: 1.75rem;
                    p{
                        margin-left: 1px;
                    }
                    .text{
                        padding: 1rem;
                    }

                    .icon{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 1rem;
                        i{
                            transition: all .2s ease;
                            &:hover{
                                cursor: pointer;
                            }
                            &.active{
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
            }

            .card-bottom{
                display: flex;
                z-index: 1;
                flex-direction: column;
                justify-content: flex-end;
                height: $card-bottom-height;
                width: 100%;
                border-top: 1px solid black;
                transition: all .2s ease;
                transform-origin: top;

                &.hidden{
                    height: 0px;
                }

                .buttons{
                    display: flex;
                    justify-content: center;
                    gap: 5%;
                    margin-bottom: 1rem;
                    .button{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: .3rem;
                        width: 40%;
                        height: 30px;
                        box-shadow: 0 3px 4px .1px rgba(0, 0, 0, 0.158);
                        transition: all .125s ease;
                        user-select: none;

                        &:hover{
                            cursor: pointer;
                            box-shadow: 0 3px 5px .5px rgba(0, 0, 0, 0.349);
                            transform: scale(1.02);
                        }
                    }
                    div:first-of-type{
                        background: $primary-color;
                        &:hover{
                            background: #ffc954;
                        }
                    }
                    div:last-of-type{
                        background: $negation-color;
                        &:hover{
                            background: #ff7979;
                        }
                    }
                }
            }
        }
    }
    //General Buttons
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .3rem;
        width: 40%;
        height: 30px;
        box-shadow: 0 3px 4px .1px rgba(0, 0, 0, 0.158);
        transition: all .125s ease;
        user-select: none;

        &:hover{
            cursor: pointer;
            box-shadow: 0 3px 5px .5px rgba(0, 0, 0, 0.349);
            transform: scale(1.02);
        }
    }

    .add-button{
        z-index: 10;
        position: absolute;
        bottom: 50px;
        right: 10vw;
        background: $primary-color;
        color: white;
        padding: 1.25rem 1rem;
        border-radius: 50%;
        box-shadow: 0px 5px 6px 1px rgba(0, 0, 0, 0.178);
        transition: all .3s ease;
        &:hover{
            cursor: pointer;
            background: $primary-color-light;
            box-shadow: 0px 5px 6px 2px rgba(0, 0, 0, 0.185);
        }
    }
    .add-card-form-container{
        z-index: 3;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background: rgba(0, 0, 0, 0.137);

        display: flex;
        justify-content: center;
        align-items: center;

        &.hidden{
            display: none;
        }

        .add-card-form{
            background: $card-background;
            height: 70vh;
            width: clamp(300px, 60vw, 500px);
            border-radius: .5rem;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            .forms{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 2rem;

                width: 100%;

                .form-input{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;

                    label{
                        display: none;
                    }
                    
                    input{
                        height: 40px;
                        width: 70%;
                        background: $input-background;
                        border-radius: .25rem;
                        padding: 0 .25rem;
                        font-size: 1rem;
                    }
                }
            }

            .form-buttons{
                display: flex;
                justify-content: center;
                gap: 1rem;
                width: 100%;
                div:first-of-type{
                    background: $confirmation-color;
                }
                div:last-of-type{
                    background: $negation-color;
                }
            }
        }
    }
}

